         body{background-color:#fcf1f1;
              }
              
         img{ height:200px;
             }

         img {
          border-radius: 50%;
             }
         
         hr{background-color:none;
              border-style: dotted none none none;
             border-width:5px;
            border-color:grey;
            
            height:0px;
            width:4%;
            }
        h1{color :#8bcdcd;
           }
        h3{color :#01c5c4;
           }
         

